table {
    width: 80%;
    font-size: large;
    box-shadow: 10px 15px 10px rgb(190, 190, 190);
    border: 1px solid lightgrey;
    margin: auto;
}

th {
    text-align: start;
}

td {
    text-align: start;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

#exercisesH1 {
    margin-top: 20px;
}