.home {
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.home h1 {
    text-align: end;
}

.home h3 {
    text-align:start;
}

.home .textWrapper {
    width: 400px;
    float:right;
}

.home button {
    margin-top:50px;
    margin-right:175px;
    background-color: rgb(153, 0, 255);
    color: white;
    float:right;
}

@media screen and (max-width: 991.98px) {
    .home {
    /* blur the background */
    backdrop-filter: blur(20px);
        
    }
}
